<div class="tab combat {{tabs.combat}}" data-tab="combat">
  {{> "systems/wild-talents-2e/templates/actor/parts/combat-health.hbs"}}
  {{> "systems/wild-talents-2e/templates/actor/parts/combat-moves.hbs"}}
  {{> "systems/wild-talents-2e/templates/actor/parts/combat-inventory.hbs"}}
</div>