<div class="wt-dialog-pool-preview">
  Expected Pool: <span id="pool-value" class="wt-pool-value">...</span>
</div>
<form class="wt-dialog-form">
  <div class="form-group">
    <label>{{localize "WT.ThreatLevel"}}:</label>
    <input type="number" disabled value="{{basePool}}"/>
  </div>
  <div class="dialog-grid dialog-grid-2">
    <div class="form-group"><label>Ganging Up / Bonus (+d):</label><input type="number" name="bonus" value="0"/></div>
    <div class="form-group"><label>Penalty Dice (-d):</label><input type="number" name="penalty" value="0"/></div>
  </div>
</form>
